<!DOCTYPE html>
<html>
<head>
<title>Soothe</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <nav class="navbar">
      <div class="navbar_container">
        <a href="/" id="navbar_logo">
            <img id="main_img" src="assets/newlogo1.png"></a>
        <div class="navbar_toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
          <li class="navbar_item">
            <a href="/index" class="navbar_links">Home</a>
          </li>
          <li class="navbar_item">
            <a href="/resources" class="navbar_links">Resources</a>
          </li>
          <li class="navbar_item">
            <a href="/movingforward" class="navbar_links">Move</a>
          </li>
          <li class="navbar_btn"><a href="/login" class="button">Sign in</a>
            </li>
          <li class="navbar_btn"><a href="/register" class="button">Register</a></li>
        </ul>
    </div>
    </nav>

    <div class="main">
      <div class="main_container">
        <div class="main_content">
          <img id="main_img" src="assets/newwater.png">
        </div>
          <div class="overlay_text"> <!-- New div for text overlay -->
            <h1>The Uplifting Link Between Exercise and Mental Health</h1>
          </div>
          
    <div class="middle_section">
    <div class="exercise_explanation card">
        <h2>The Positive Power of Exercise on Mental Health</h2>


        <p>Lots of studies have shown that getting moving and staying active is super good for your mind as well as your body. There is a strong connection between doing physical activity, like exercise, and feeling mentally well and happy.
        An important piece of research from the "Journal of Clinical Psychiatry" tells us that even a little bit of exercise can make a big difference in how we feel and think. When we do aerobic exercises - things like running and biking - it can really help people who are feeling depressed. What is happening in the brain when we exercise is pretty cool. 
        Our brains release these "happy chemicals" called endorphins, which can lift our mood and make us feel good. Plus, exercise helps our brain to grow new connections, which is important for our memory and thinking skills.
        In 2018, a big study by Chekroud, Gueorguieva, and their team, shared in "The Lancet Psychiatry", looked at more than 1.2 million people and found that those who were active and exercised more often felt better mentally and had fewer sad days. What's really awesome is that it was not just gym workouts that counted, even doing household chores and going for a 
        walk made a positive difference! Exercise isn't just good for preventing mental health issues either.
        It can also be used as a kind of therapy to help people feel better, by boosting a special brain protein (called BDNF) which helps keep our brains healthy and might even slow down some brain diseases and mental health problems. To sum it all up: the solid proof we have 
        exercise making a positive dent in our mental health makes a really strong case for all of us to include some form of physical activity in our day-to-day lives. There is a wise saying that puts it simply: "A healthy mind resides in a healthy body."</p>
        <p>Remember, while exercise is fantastic and can give our mental health a boost, it is not a substitute for getting professional help when we need it. It is an extra thing we can do alongside other types of therapy or treatment.</p>
        </div>
    </div>
    </div>
  </div>

    
      
    
    <div class="services">
        <h1>Start exercising with Soothe</h1>
        <div class="services_container">
          <div class="services_card">
            <img id="card_img1" src="assets/gymforcard.png" style="width: 100%; height: 100%">
            <h2>Exercise routines</h2>
            <button>Look</button>
          </div>
          
          <div class="services_card">
            <img id="card_img2" src="assets/walking.png" style="width: 100%; height: 100%">
            <h2>Start small</h2>
            <button>Get Started</button>
          </div>
        </div>
      </div>
  
      <div class="footer_container">
        <div class="footer_links">
          <div class="footer_link--wrapper">
            <div class="footer_link--items">
              <h2>About Us</h2>
              <a href="/">Meet the team</a> <a href="/">Our vision</a>
              <a href="/">The future</a>
            </div>
            <div class="footer_link--items">
              <h2>Contact Us</h2>
              <a href="/">Contact</a> <a href="/">Support</a>
            </div>
          </div>
          <div class="footer_link--wrapper">
            <div class="footer_link--items">
              <h2>Social Media</h2>
              <a href="/">Instagram</a> <a href="/">Facebook</a>
              <a href="/">X</a>
            </div>
          </div>
        </div>
            <p class="website_rights">© Soothe All rights reserved</p>
          </div>
      </div>
<script></script>
</body>
</html>