<!DOCTYPE html>
<html>
<head>
<title>Soothe</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css"/>

<body>
    <nav class="navbar">
      <div class="navbar_container">
        <a href="/" id="navbar_logo">
            <img id="main_img" src="assets/newlogo1.png"></a>
        <div class="navbar_toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
          <li class="navbar_item">
            <a href="/index" class="navbar_links">Home</a>
          </li>
          <li class="navbar_item">
            <a href="/resources" class="navbar_links">Resources</a>
          </li>
          <li class="navbar_item">
            <a href="/movingforward" class="navbar_links">Move</a>
          </li>
          <li class="navbar_btn"><a href="/login" class="button">Sign in</a>
            </li>
          <li class="navbar_btn"><a href="/register" class="button">Register</a></li>
        </ul>

      </div>
    </nav>
    <div class="main">
      <div class="main_container">
        <div class="main_content">
          <img id="main_img" src="assets/newwater.png">
          <div class="overlay_text"> <!-- New div for text overlay -->
            <h1>Local resources to support your journey</h1>
            <n></n>
            <h3>Life can be tough but these resources are available to all, if you are struggling please contact your GP as your first option. Always reach out.</h3>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="resource_list">
        <div class="resource_section"><h2>Help in a crisis:</h2>
        </div>
        </div>
        <div class="resource_list">
            <!-- Lifeline -->
            <div class="resource_item">
                <h2>Lifeline</h2>
                <p>24-hour support for those in distress or despair.</p>
                <p>Phone: <a href="tel:08088088000">0808 808 8000</a></p>
                <p>Textphone: <a href="tel:1800108088088000">18001 0808 808 8000</a></p>
                <p>Web: <a href="http://www.lifelinehelpline.info" target="_blank">www.lifelinehelpline.info</a></p>
            </div>
    
            <!-- Samaritans helpline -->
            <div class="resource_item">
                <h2>Samaritans helpline</h2>
                <p>Listening ear to those in distress.</p>
                <p>Phone: <a href="tel:116123">Freephone 116 123</a></p>
                <p>Web: <a href="http://www.samaritans.org" target="_blank">www.samaritans.org</a></p>
            </div>
            <div class="resource_section"><h2>Counselling and support:</h2>
            </div>
            <!-- Extern -->
            <div class="resource_item">
                <h2>Extern</h2>
                <p>Family support, suicide prevention service, and crisis response.</p>
                <p>Phone: <a href="tel:02890330433">028 9033 0433</a></p>
                <p>Crisis Helpline: <a href="tel:08000854808">Freephone 0800 085 4808</a></p>
            </div>

            <div class="resource_item">
                <h2>Rainbow Project</h2>
                <p>Promoting the health and wellbeing of the LGBTQI+ community.</p>
                <p>Phone: <a href="tel:02890319030">028 9031 9030</a></p>
                <p>Web: <a href="http://www.rainbow-project.org" target="_blank">www.rainbow-project.org</a></p>
            </div>
            
            <!-- LIGHTHOUSE -->
            <div class="resource_item">
                <h2>LIGHTHOUSE</h2>
                <p>Offers support and help for people affected by suicide or self-harm and supports bereaved families.</p>
                <p>Phone: <a href="tel:02890755070">028 9075 5070</a></p>
            </div>

            <div class="resource_item">
                <h2>PIPS Suicide Prevention Ireland</h2>
                <p>Family support, suicide prevention service and crisis response.</p>
                <p>Phone: <a href="tel:08000886042">08000 886 042</a></p>
                <p>Web: <a href="http://www.pipscharity.com" target="_blank">www.pipscharity.com</a></p>
            </div>

            <div class="resource_section"><h2>Alcohol and addiction support:</h2>
            </div>

            <div class="resource_item">
                <h2>Alcoholics Anonymous</h2>
                <p>Phone: <a href="tel:02890351222">028 9035 1222</a></p>
                <p>Web: <a href="http://www.alcoholicsanonymous.ie" target="_blank">www.alcoholicsanonymous.ie</a></p>
            </div>

            <div class="resource_item">
                <h2>Narcotics Anonymous</h2>
                <p>Phone: <a href="tel:03003651010">0300 365 1010</a></p>
                <p>Web: <a href="http://www.na-northernireland.org" target="_blank">www.na-northernireland.org</a></p>
            </div>

            <div class="resource_item">
                <h2>Inspire Addiction Services</h2>
                <p>Drug and alcohol intervention and support services for adults and family members - specific support available for offenders and those aged 55+.</p>
                <p>Phone: <a href="tel:02890564434">028 9066 4434</a></p>
                <p>Web: <a href="http://www.inspirewellbeing.org" target="_blank">www.inspirewellbeing.org</a></p>
            </div>

            <div class="resource_item">
                <h2>Dunlewey Addiction Services</h2>
                <p>Support services for adults and families affected by substance misuse and problem gambling. </p>
                <p>Phone: <a href="tel:02890392547">028 9039 2547</a></p>
                <p>Phone: <a href="tel:08000886725">Gambling Helpline: 0800 0886 725</a></p>
                <
            </div>
          </div>

            


      </div>
      <div class="footer_container">
        <div class="footer_links">
          <div class="footer_link--wrapper">
            <div class="footer_link--items">
              <h2>About Us</h2>
              <a href="/">Meet the team</a> <a href="/">Our vision</a>
              <a href="/">The future</a>
            </div>
            <div class="footer_link--items">
              <h2>Contact Us</h2>
              <a href="/">Contact</a> <a href="/">Support</a>
            </div>
          </div>
          <div class="footer_link--wrapper">
            <div class="footer_link--items">
              <h2>Social Media</h2>
              <a href="/">Instagram</a> <a href="/">Facebook</a>
              <a href="/">X</a>
            </div>
          </div>
        </div>
            <p class="website_rights">© Soothe All rights reserved</p>
          </div>
        </section>
      </div>
<script></script>
</body>
</html>